@import '../../../App';

.timer {
  background-color: $dropDownMenuHover;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    background-color: $plus;
    font-size: 16px;
    font-weight: 400;
    color: $bodyBackground;

    &__title {
      font-weight: 700;
    }
  }

  &__body {
    padding: 105px 105px 105px 175px;

    &__clock {
      margin-right: 25px;
      font-size: 150px;
      font-weight: 200;
      line-height: 179px;
    }

    &__add {
      width: 50px;
      height: 50px;
      font-size: 25px;
      background-color: $plus;
      border-radius: 50%;
      border: none;
      color: $bodyBackground;
    }

    &_flex {
      display: flex;
      align-items: center;
    }

    &__task {
      display: flex;
      justify-content: center;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 32px;

      &_task {
        color: $formPlaceholder;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;

      &_margin {
        margin-right: 30px;
      }
    }
  }
}